/* .kepala{
  
    padding: 10px;
}

.fixed-header{
    height: 46px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px gray;

}

.header-title{
vertical-align: middle;
 border-style: none;
  
}
.body{
    margin-top: 70px;;
}
.kepala h1{
    font-size: 30px;
    color:rgb(0, 0, 0);
    padding: 5px 0px;
    text-align: center;
}

.link{
    display: flex;
    flex-flow: wrap;
    border-radius: 5px;
    margin-top: 16px;
    background: linear-gradient(to right, #21409a 50%, #007cbd 100%);
}
ul {
    text-align: center;
}

.link li{
    display:inline-block;
    margin-right: 20px;
}

.link li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    
}

.content-top{
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
 
  
}

.content-top-item{
    margin-bottom: 40px;
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}

.media_text ,h2{
 font-size: 20px;
 
}

.content{
    background-color: darkgreen;
    height: 300px;
}

.content .kanan{
     float: right;
     width: 50%;
     height: 100%;
     background-color: aqua;   
}

.content .kiri{
    float: left;
    width: 50%;
    height: 100%;
    background-color:rgb(5, 112, 94);   
}

.footer{
    background-color: royalblue;
    padding: 10px;
}

.footer h2{
    text-align: center;
}
  */


 
.container {
    margin:  auto;
    padding: 10px;

}

.fixed-header{
    width: 100%;
    height: 65px;
    background-color: white;
    left: 0px;
    top: 0px;
    box-shadow: 2px 2px 10px black;
    position: fixed;
}

.button{
    color: rgb(0, 7, 7);
    background-color: lightseagreen;
    border-radius: 4px;
    height: 25px;
    margin-top: 20px;
    margin-left: 1200px;
    border: 0px;
}

.header-title{

}

.header-img{
    margin-top: 50px;
    margin-bottom: 50px;
  
}

.navigator{
    margin-top: 16px;
    background: linear-gradient(to right,#330fd4 50% 100%);
    border-radius: 5px;
}

.navigator ul{
    margin: 0px;
 }

.navigator ul li{
    display: inline-block;
    font-weight: bold;
    margin: 20px;
}

.navigator ul li a{
    color: white;
    text-decoration: none;
    padding-left: 2px;
}

.navigator ul li a:hover{
    color: red;
    
}


.navigator2{
    margin-top: 0px;
    background: linear-gradient(to right, grey 50% 100%);
    border-radius: 5px;
}

.navigator2 ul{
    margin: 0px;
}

.navigator2 ul li{
    display: inline-block;
    font-weight: bold;
    margin: 20px;
}

.navigator2 ul li a{
    color: white;
    text-decoration: none;
    padding-left: 2px;
}

.navigator2 ul li a:hover{
    color: red;
    
}

.content-top{
    margin-bottom: 40px;
    float: left;
    margin-top: 40px;
}

.content-top2{
    margin-bottom: 40px;
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}

.content-top3{
    margin-bottom: 40px;
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}
.content-top4{
    margin-bottom: 40px;
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}

.content-top-text{
    margin-top: 4px;
    font-size: 18px;
    font-weight: 600;
}

.content-top-item{
    width: 20%;
    float: left;
    margin-bottom: 40px;
}

.content{
    height: 300px;
}

.content .left{
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
}

.content .right{
    display: inline-block;
    float: none;
    width: 50%;
    height: 100%;
    background-color: cyan;
}
.fitur-img:hover, .fitur-img:focus{
    transform: scale(1.2);
}

.fitur-taxt{
height: 100px;
background-color: blue;

}
.fitur {
    margin-bottom: 32px;
    border-radius: 10px;
    overflow: hidden;
    
}
.fitur-title-wrapper {
    position: absolute;
    bottom: 0;

}

/* .footer{
    border-style: solid;
    background-color: rgb(49, 212, 163);
    text-align: center;
} */